<h1>No Parachute Song</h1>
<sub>Inspired by Aidan Arrowood</sub>

<p class="transparent">
    What is your name?
    <span class="intro-input">
        <input type="text" ng-model="user.name" name="userName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" />
    </span>
</p>

<p class="transparent">{{user.name}}<span ng-if="user.name">.</span></p>

<p class="transparent">You are skydiving right now.</p>

<p class="transparent">
    {{user.name}}<span ng-if="user.name">, </span>what is something you love?
    <span class="intro-input">
        <input type="text" ng-model="user.love" name="userLove" nng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" /></p>
    </span>
</p>

<p class="transparent">{{user.love}}<span ng-if="user.love">.</span></p>

<p id="no-parachute" class="transparent">Now you notice that you do not have a parachute.</p>

<p class="transparent">You are alone.</p>

<p class="transparent">you are 5000 ft from the ground.</p>

<p class="transparent">you will die.</p>

<p class="transparent">you get to play one song on repeat for the next 300 seconds before you die.</p>


<div class="search-container" class="transparent">
    <h2>What song do you play?</h2>
    <sds-result-displayer></sds-result-displayer>
</div>

<form ng-show="hasSearched" ng-submit="submit()">
    <div class="selection-prompt-container">
        <h4>Pick the most appropriate video for {{artist}} - {{track}}</h4>
        <input type="submit" value="Select" href="/{{formData.selected}}" class="select-button">
    </div>
    <div ng-repeat="item in videoList" class="video-selection-container">
        <input type="radio" ng-model="$parent.formData.selected" ng-value="item.id.videoId"
               ng-required="!$parent.formData.selected" name="whocares" >
        <video-selection video="{{item.id.videoId}}" thumbnail="{{item.snippet.thumbnails.medium.url}}"></video-selection>
    </div>
</form>