body {
    color: #aeccff;
    background: -webkit-linear-gradient(#448AFF, #2979FF, #2962FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#448AFF, #2979FF, #2962FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#448AFF, #2979FF, #2962FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #448AFF, #2979FF, #2962FF); /* Standard syntax */
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 24px;
    height: 100%;
    width: 100%;
}

.content-container {
    top: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 300px;
}

.content {
    width: 100%;
    height: 100%;
}
.main-container {
    width: 800px;
    margin: 0 auto;
    padding: 300px 0 0 0;
}

.searchPartial #skydiver {
    position: fixed;
    width:200px;
    height:200px;
    top: 200px;
    left:900px;
}

.searchPartial #skydiver > img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.fallingPartial {
    height: 100%;
    width: 100%;
}

.fallingPartial #skydiver {
    position: absolute;
    width:200px;
    height:200px;
    top: 200px;
    left: 40%;
}

.fallingPartial #skydiver.falling {
    position: absolute;
    width:200px;
    height:200px;
    /*top: 900px;*/
    left: 50%;
}

.falling #skydiver > img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.transparent, .-without-plane {
    opacity: 0;
}

a {color: #aeccff;}

input {
    font-family: 'Raleway', sans-serif;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
sub {display:block;}
sub, p {
    margin-bottom: 350px;
}

.intro-input {
    display:block;
    margin-top: 15px;
}

.search-container input, .search-button, .select-button {
    max-width: 200px;
    padding: 8px 15px;
}

.search-container input {
    border-radius: 8px;
    margin-right: 15px;
    border: 0px;
}

.search-button, .select-button {
    background-color: #0D47A1;
    color: white;
    border-radius: 0px;
    border: 0px;
}

.selection-prompt-container {
    text-align: left;
    overflow: auto;
    margin: 50px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aeccff;
}

h3, .selection-prompt-container > h4 {
    font-style:italic;
    font-weight: 100;
}

.selection-prompt-container > h4 { display: inline;  }

.select-button {
    float: right;
    font-size: .6em;
}

.video-selection-container {
    margin-bottom: 15px;
}

.video-selection-radio {
    margin-right: 30px;
}

footer {
    margin: 20px 0px;
}

.falling > p {
    background-color: rgba(55, 71, 79, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.puddle {
    cursor: pointer;
    margin: 10px 0 10px 0;
    background-color: rgba(255,255,255, 0);
    transition: background-color  300ms ease;
    border-radius: 100px;
    width: auto;
}
.puddle:hover {
    background-color: rgba(255,255,255, 0.2);
}

.repeated-puddle {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    /*opacity:0;*/
}

.repeated-puddle.ng-enter,
.repeated-puddle.ng-move,
.repeated-puddle.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
}

.repeated-puddle.ng-enter.ng-enter-active,
.repeated-puddle.ng-move.ng-move-active,
.repeated-puddle.ng-leave.ng-move-active {
    opacity:1;
}


.example-animate-container {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}