body {
    color: #aeccff;
    background: -webkit-linear-gradient(#448AFF, #2979FF, #2962FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#448AFF, #2979FF, #2962FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#448AFF, #2979FF, #2962FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #448AFF, #2979FF, #2962FF); /* Standard syntax */
    background-attachment: fixed;
    padding-top: 300px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 24px;
}

.content-container { margin-bottom: 300px; }

#skydiver {
    position: fixed;
    width:200px;
    height:200px;
    top: 200px;
    left:900px;
}

#skydiver > img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.transparent, .-without-plane {
    opacity: 0;
}

a {color: #aeccff;}

input {
    font-family: 'Raleway', sans-serif;
}

.content {
    width: 800px;
    margin: auto;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
sub {display:block;}
sub, p {
    margin-bottom: 350px;
}

.intro-input {
    display:block;
    margin-top: 15px;
}

.search-container input, .search-button, .select-button {
    max-width: 200px;
    padding: 8px 15px;
}

.search-container input {
    border-radius: 8px;
    margin-right: 15px;
    border: 0px;
}

.search-button, .select-button {
    background-color: #0D47A1;
    color: white;
    border-radius: 0px;
    border: 0px;
}

.selection-prompt-container {
    text-align: left;
    overflow: auto;
    margin: 50px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aeccff;
}

h3, .selection-prompt-container > h4 {
    font-style:italic;
    font-weight: 100;
}

.selection-prompt-container > h4 { display: inline;  }

.select-button {
    float: right;
    font-size: .6em;
}

.video-selection-container {
    margin-bottom: 15px;
}

.video-selection-radio {
    margin-right: 30px;
}

footer {
    margin: 20px 0px;
}

.falling > p {
    background-color: rgba(55, 71, 79, 0.5);
    padding: 20px;
    border-radius: 20px;
}